/*General*/
    #bar-container h1, #bar-container h2, #bar-container h3, #bar-container h4, #bar-container h5, #bar-container h6, #bar-container p {
        margin: 0;
    }

    #bar-container a {
        text-decoration: none;
    }

/*Bar Container Rules*/
    #bar-container {
        height: auto;
        text-align: center;  
        padding: 10px; 
        font-size: 20px;
        box-shadow: 0 0 4px #000;
        z-index: 800;
    }

/*Close Button Rules*/
    #close-button {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
    }

    #close-button:before {
        content: "";
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 15px;
        height: 0;
        border-top: 1px solid #FFF;
        transform: rotate(45deg);
        transform-origin: center;
    }
    #close-button:after {
        content: "";
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 15px;
        height: 0;
        border-top: 1px solid #FFF;
        transform: rotate(-45deg);
        transform-origin: center;
    }

/*Body Popup Rules*/
    #body-popup {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 800;
    }

/*Social Icon Rules*/
    #bar-container .social-icon {
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
    }

/*Bar Body Rules  */
    #bar-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bar-body > span {
        display: flex;
    }

/*Countdown rules*/

.bold > span {
    font-weight: bold;
}

.italic > span {
    font-style: italic;
}

.strong > span {
    font-weight: bold;
}