/* Global Styles */
.text-center { text-align: center; }
.text-left { text-align: left; }
.deal_btn_style { text-transform: uppercase; padding: 10px 13px; border-radius: 4px; font: 16px "ralewaybold"; display: inline-block; -webkit-transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out; }
.btn-offer-visible { float: right; position: static; right: 0; bottom: 0; margin-top: 20px; background: #F200C1; font-size: 14px; max-width: 150px; color: #fff; width: 100%; text-align: center; }
.btn-offer-visible:hover,
.btn-offer-visible:focus { color: #fff; }
.icon-close-deal { position: absolute; right: 20px; font-size: 25px; color: #00ABEB; cursor: pointer; z-index: 99; width: 25px; height: 25px; display: block; text-align: center; border: 1px solid #fff; border-radius: 50%; }
.icon-close-deal:before,
.icon-close-deal:after { content: ''; width: 10px; height: 2px; background: #fff; display: block; position: absolute; top: 10px;
    left: 7px; transform: translate(-50%, -50%); }
.icon-close-deal:before { transform: rotate(45deg);  }
.icon-close-deal:after { transform: rotate(-45deg);  }
.btn-offer-visible:hover, 
.btn-offer-visible:focus { color: #fff; }
#deal-overlay { display: none; background-color: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; position: fixed; top: 0; z-index: 9998; }

.deal-error-message { color: #ff5e5e; font-size: 15px; }

/* Deal Styling */
.deal-offer-holder { max-width: 650px; width: 100%; margin: 25px auto; }

/* Deal Offer */
.deal-offer-holder .deal-offer { position: relative; padding: 15px 20px 15px 15px; background-color: #fff; border: 2px dashed #cecece; border-radius: 10px; overflow: hidden; }
.deal-offer-holder .deal-offer .corner-ribbon { position: absolute; top: 15px; left: -30px; width: 125px; padding: 1px 0; background-color: #f200c1; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.deal-offer-holder .deal-offer .corner-ribbon > p { font-family: 'ralewaybold'; font-size: 10px; line-height: 12px; width: 40%; margin: 0 auto !important; color: #ffffff; text-transform: uppercase; text-align: center; }
.deal-offer-holder .deal-offer .banner-image-holder { float: left; width: 35%; text-align: center; padding: 0 15px; }
.deal-offer-holder .deal-offer .banner-image-holder .deal-image { width: 150px; max-width: 100%; height: 150px; margin: 0 auto; border-radius: 50%; background-size: cover; background-position: left center; }
.deal-offer-holder .deal-offer p > span { vertical-align: middle; margin-right: 5px; }
.deal-offer-holder p > span:not(:first-child) { font-family: 'ralewaybold'; font-size: 26px; }
.deal-offer-holder .deal-offer .banner-title-hodler p.banner-title { font-size: 20px; color: #064e81; vertical-align: middle; text-align: left; margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.deal-offer-holder .deal-offer .banner-title-hodler,
.deal-offer-holder .deal-offer .banner-desc-holder { float: right; width: 65%; }
.deal-offer-holder .deal-offer .banner-desc-holder:after { content: ''; display: table; clear: both; }
.deal-offer-holder .deal-offer .banner-desc-holder p.banner-desc { color: #67757e; font-size: 16px; text-align: left;margin: 0px 0 5px; line-height: 22px; }
.deal-offer-holder .deal-offer .banner-desc-holder p.banner-desc + p { margin-top: 20px; }
.deal-offer-holder .deal-offer .deal_btn_style { float: right; font-size: 14px; max-width: 120px; width: 100%; margin: 10px auto 0; padding: 12px 0; text-align: center; cursor: pointer; background: transparent; border: 1px solid #f200c1; color: #f200c1; }
.deal-offer-holder .deal-offer .deal_btn_style:hover { background: #f200c1; color: #ffffff; }

/* Deal Offer Description */
.deal-offer-holder .deal-offer-description { position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; background-color: #064e81; color: #ffffff; padding: 20px; text-align: center; border-radius: 10px; z-index: 99999; }

.deal-offer-holder .deal-offer-description .banner-title-hodler .banner-title { font-size: 20px; width: 90%; margin: 0 auto 20px 0; line-height: 25px; font-family: "ralewaybold",Arial,Helvetica,sans-serif; }
.deal-offer-holder .deal-offer-description .banner-desc-holder .banner-desc { font-size: 16px; margin: 0 auto; line-height: 22px; text-align: left; }
.deal-offer-holder .deal-offer-description .banner-desc-holder .banner-desc small { display: block; line-height: 15px; font-size: 11px; margin: 10px 0; }
.deal-offer-holder .deal-offer-description .banner-desc-holder ul { line-height: 20px; font-size: 14px; margin: 15px 0; list-style-type: disc; padding-left: 30px; }
.deal-offer-holder .deal-offer-description .banner-desc-holder p > span { margin-right: 5px; }
.deal-offer-holder .deal-offer-description .banner-desc-holder p > span:not(:first-child) { font-size: 26px; vertical-align: middle; }

.deal-offer-holder.description-visible {
    position: relative;
    z-index: 9999;
}
.deal-offer-holder {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.deal-offer-holder .deal-offer, .deal-offer-holder .deal-offer-description {
    display: block;
    -webkit-transition: all 0.6s cubic-bezier(0.21, 0.92, 0.75, 1.32);
    transition: all 0.6s cubic-bezier(0.21, 0.92, 0.75, 1.32);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.deal-offer-holder .deal-offer {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}
.deal-offer-holder .deal-offer-description {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
}
.deal-offer-holder.description-visible .deal-offer {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    opacity: 0;
}
.deal-offer-holder.description-visible .deal-offer-description {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    z-index: 99999;
}

@media only screen and (max-width: 992px) {

    .deal-offer-holder .deal-offer .banner-image-holder { float: none; width: 100%; margin-bottom: 20px; }
    .deal-offer-holder .deal-offer .banner-image-holder img { width: 50%; }
    .deal-offer-holder .deal-offer .banner-title-hodler, .deal-offer-holder .deal-offer .banner-desc-holder { float: none; width: 100%; }
    .deal-offer-holder .deal-offer .banner-title-hodler p.banner-title,
    .deal-offer-holder .deal-offer .banner-desc-holder,
    .deal-offer-holder .deal-offer .banner-desc-holder p.banner-desc { text-align: center; }
    .deal-offer-holder .deal-offer .banner-title-hodler p.banner-title { margin-bottom: 10px; }
    .deal-offer-holder .deal-offer .deal_btn_style,
    .btn-offer-visible { float: none; }
}