/* Step Zero Styles */

button.close {
    width: 40px;
    height: 40px;
    padding: 0;
    opacity: 0.6;
    font-family: "ralewaylight", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    border: 2px solid #a4a4a4;
}

button.close span {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    color: #a4a4a4;
    text-indent: 1px;
    text-align: center;
    line-height: 34px;
}

.step-0 h2 {
    font-family: 'ralewaylight', Arial, Helvetica, sans-serif;
    font-size: 26px;
    width: 80%;
    padding: 40px 0 5px 0;
}

.deal-title {
    font-family: 'ralewaylight', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.step-0 .main-container-inner {
    padding: 40px 0 0;
}

.step-0 .wrapper-book-button {
    margin: 0 auto;
}

.step-0 .book-button {
    padding: 19px;
    font-size: 20px;
    line-height: 20px;
}

.field-holder {
    opacity: 0.5;
   /*  -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out; */
}


.field-holder:hover, .field-holder:focus {
    opacity: 1;
}

.field-holder .step-0 input[type='text'] {
    opacity: 0.5;
}

/**/
.field-holder .step-0 auto-complete input{
    opacity: 0.5;
}
/**/

.field-holder .wrapper-dropdown {
    opacity: 0.5;
}
.field-holder .wrapper-dropdown:focus {
    opacity: 1;
}

.field-holder.transparency-disabled, .field-holder.transparency-disabled .wrapper-dropdown {
    opacity: 1 !important;
}

.field-holder.transparency-enabled, .field-holder.transparency-enabled .step-0 input[type='text'] {
    opacity: 1;
    /* cursor: not-allowed;
    pointer-events: none; */
}

.field-holder:hover .wrapper-dropdown, .field-holder:focus {
    opacity: 1;
}

.wrapper-dropdown {
    font-size: 16px;
    opacity: 1;
    color: #015b98;
    border: 1px solid #005a94;
}

.wrapper-dropdown:after {
    margin-top: -6px;
    background-size: 14px;
}

.wrapper-dropdown:focus:after {
    background-size: 14px;
}

.step-0 .show-tick {
    background-size: 12px;
}

.step-0 input[type='text'], .step-0 select {
    opacity: 0.5;
    color: #015b98;
    border: 1px solid #1ca9e9;
    font-size: 16px;
}

/**/
.step-0 auto-complete input {
    opacity: 0.5;
    color: #015b98;
    border: 1px solid #1ca9e9;
    font-size: 16px;
}
/**/

.benefits {
    margin-top: 50px;
    background: #f5f6f6;
    padding: 20px 30px;
    margin-left: 0;
    margin-right: 0;
}

.benefits .benefit:not(:last-child):not(:nth-last-child(2)) {
    margin-right: 11%;
}

.benefit > div.image-holder {
    position: relative;
    margin: 0 auto;
    height: 64px;
}

.benefit > div.image-holder > div {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.benefit > div.image-holder > div.image1 {
    background: url('../images/benefit-1.png') no-repeat center center;
    background-size: cover;
    width: 36px;
    height: 54px;
}

.benefit > div.image-holder > div.image2 {
    background: url('../images/benefit-2.png') no-repeat center center;
    background-size: cover;
    width: 46px;
    height: 46px;
}

.benefit > div.image-holder > div.image3 {
    background: url('../images/benefit-3.png') no-repeat center center;
    background-size: cover;
    width: 54px;
    height: 40px;
}

.benefit > div.benefit-description {
    margin-top: 25px;
}

.benefit > div.benefit-description .benefit-title {
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    color: #1ca9e9;
}

.benefit > div.benefit-description span {
    font-size: 14px;
    line-height: 23px;
    color: #666666;
    padding: 0;
    margin-top: 10px;
}


.arrow-holder {
    position: absolute;
    width: 163px;
    height: 20px;
    right: -48%;
}

.arrow-holder.bottom-position {
    bottom: -7px;
}

.arrow-holder.top-position {
    top: 34%;
    right: -52%;
}

.bottom-arrow {
    background: url('../images/bottom-arrow.png') no-repeat center center;
    background-size: contain;
    height: 100%;
}

.top-arrow {
    background: url('../images/top-arrow.png') no-repeat center center;
    background-size: contain;
    height: 100%;
}

.benefits > .powered-by-holder {
    float: right;
    clear: both;
    margin-right: 5%;
    margin-top: 30px;
}

.benefits > .powered-by-holder p {
    padding: 0;
}

.benefits > .powered-by-holder span {
    display: inline-block;
    vertical-align: middle;
}

.benefits > .powered-by-holder span.powered-by-title {
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
    padding: 0;
    color: #7f7f7f;
    margin-right: 5px;
}

.benefits > .powered-by-holder span.fs-logo-holder {
    background: url('../images/FS.png');
    background-size: cover;
    width: 85px;
    height: 29px;
}

.check-wrapper {
    position: absolute;
    width: 34px;
    height: 34px;
    top: -12px;
    right: -14px;
    background-color: #FFF;
    border-radius: 100%;
    z-index: 9999;
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s cubic-bezier(0.08, -0.58, 0.99, 1.69);
    transition: all 0.3s cubic-bezier(0.08, -0.58, 0.99, 1.69);
}

.check-wrapper.visible {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.check-holder {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    border-radius: 100%;
    border: 1px solid #1fc32e;
}

.check-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.check-icon:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 1px;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: 0;
    background-color: #1fc32e;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.check-icon:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    top: 50%;
    right: 50%;
    margin-right: -8px;
    background-color: #1fc32e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sweet-alert.brand-alert h2 {
    font-size: 26px;
}

.brand-alert p.modal-description {
    margin-top: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.brand-alert textarea#close-message {
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 95px;
    padding: 10px 12px;
    border-radius: 3px;
    resize: vertical;
    margin-top:10px;
}

.brand-alert input#close-email {
    width: 100%;
    margin: 15px auto 20px;
    font-size:14px;
}

.sweet-alert.brand-alert button {
    display: inline-block;
    font-size: 16px !important;
    font-weight: bold;
    width: 46%;
    min-width: 40% !important;
    padding: 10px 0 !important;
    margin: 20px 8px 0 8px;
    border: 1px solid #ff00c1;
}

@media only screen and (max-width: 1199px) {
    .step-0 .main-container-inner {
        padding: 30px 0 0;
    }

    .wrapper-dropdown, .step-0 input[type='text'], .step-0 select {
        font-size: 13px;
    }

    .step-0 .book-button {
        padding: 14px;
        font-size: 18px;
        line-height: 20px;
    }

    .benefits {
        margin-top: 20px;
    }

    .benefits > .powered-by-holder {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 991px) {
    .step-0 h2 {
        width: 70%;
    }

    .step-0 .show-tick {
        background: rgba(0, 0, 0, 0) url('../images/select-blue-arrow.png') no-repeat 97% 50%;
        background-size: 14px;
    }

    .button-holder {
        margin: 0 auto;
        float: none;
        clear: both;
        display: block;
        padding-top: 20px;
    }

    .arrow-holder {
        width: 130px;
        right: -55%;
    }

    .arrow-holder.bottom-position {
        bottom: -30px;
    }

    .arrow-holder.top-position {
        top: 28%;
        right: -55%;
    }
}


/* Media Queries */

@media only screen and (max-width: 767px) {
    button.close span {
        top: 50%;
        margin-top: -4px;
    }

    .step-0 h2 {
        width: 90%;
        font-size: 20px;
    }

    .wrapper-dropdown, .step-0 input[type='text'], .step-0 select {
        font-size: 16px;
    }

    /**/
    .step-0 auto-complete input{
        font-size: 16px;
    }
    /**/

    .step-0 .show-tick {
        background: rgba(0, 0, 0, 0) url('../images/select-blue-arrow.png') no-repeat 94% 50%;
        background-size: 14px;
    }

    .benefits .benefit:not(:last-child):not(:nth-last-child(2)) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .benefits > .powered-by-holder {
        float: none;
        margin: 60px auto 0;
        text-align: center;
    }
}

.black-friday {
        min-width: 300px;
        max-width: 40%;
        margin: 0 auto;
        display: block;
}