
.container{
	background: #eee !important;
}
.custom-radio{
	margin-left: 20px;
}

.jumbotron{
	padding: 0rem 2rem !important;
	border-radius: 5px !important;
}
.custom-radio input[type="radio"] {
    opacity: 0;
}
.custom-radio{
	margin-left: 100px;
}
.custom-radio > label{
	margin-top: 10px;
}
.wrapper{
	/*position: absolute;*/
	margin: 0 auto;
}
.header{
	background: #eee !important;
	padding-top: 25px;
	height: 80px;
}
.heading1 > h2{
	width: 100% ;
	padding-left: 0;
	padding-bottom: 10px;
}

.btn-group{
	margin-bottom: 25px;
}

/*Form Buttons*/
.line1 > label{
	padding: 15px 36px 10px 21px !important; /*top right down left*/
}
.line2 > label{
	padding: 10px 10px 10px 5px !important; /*top right down left*/
}
.line3 > label{
	padding: 10px 24px 10px 11px !important; /*top right down left*/
}
.line4 > label{
	padding: 15px 72px 10px 65px !important; /*top right down left*/
}
.line5 > label{
	padding: 15px 140px 10px 135px !important; /*top right down left*/
}
.btn-group > label:not(:last-child){
	margin-right: 25px;
}
input {
    visibility:hidden;
}


.custom-label::before{
	top: 0 !important;
	background: #8ec741 !important;
    border-color: #d8d8d8 !important;
}